Data/KiteData_20231202_f4_flood.csv
Data/KiteData_20231202_f4_flood.xlsx
venv/
Data/bokeh_plot.html
Kite simulation/kite_and_turbine_dyn_test copy.py
Kite simulation/kite_and_turbine_dyn_test.py
venv/
__pycache__/
Data/generatorData.txt
Data/GeneratorTuning.ipynb
